*{
    padding: 0;
    margin: 0;
}

        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
            flex-direction: row;
        }

        header a {
            color: #fff;
            text-decoration: none;
            margin-right: 20px;
            
        }

        .container {
            max-width: 80%;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            
        }

        h1 {
            font-size: 24px;
        }

        h2 {
            font-size: 20px;
            margin-top: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 10px;
            border-bottom: 1px solid #ddd;
            text-align: left;
        }

        th {
            background-color: #333;
            color: #fff;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        p {
            margin-top: 10px;
        }
        .edita{
            display: inline-block;
            padding: 8px 15px;
            color: #000000;
            text-decoration: none;
            margin-right: 10px;
            border-radius: 5px;
        }
        .elimina{
            display: inline-block;
            padding: 8px 15px;
            color: #000000;
            text-decoration: none;
            margin-right: 10px;
            border-radius: 5px;
        }
   